---
export interface Props {
  dark?: boolean;
  hover?: boolean;
}

const { dark = false, hover = true } = Astro.props as Props;
---

<div class={`card ${dark && "dark"} ${hover && "card-hover"}`}>
  <slot />
</div>

<style lang="scss">
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    transition: all 350ms ease-out;

    &-hover:hover {
      color: #fff;
      background-color: var(--color-secondary);
    }

    &-hover:hover :global(a) {
      color: #fff;
    }
  }

  .dark {
    background-color: var(--color-primary);
    color: #fff;
  }
</style>
